@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins&display=swap');
*{
  font-family: 'Fredoka', sans-serif;
font-family: 'Poppins', sans-serif;
color: white;
}
:root {
  --main-bg-color:  #1F1C2C;
  --lighter-bg-color:   #353241;
  ---button-color: #7F00FF;
  --light-gray: #dadce1;
}
body{
  /* margin-top: 4%; */
  /* background-color: #7f5a83; */
 background-color: #1F1C2C;
  

}

.post{
  background-color: var(--lighter-bg-color);
  color: white;
  width: 30%;
  margin: 3px;
  border-radius: 10px;
}
.postCon{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.postdropdown{
  position: relative;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
}
.ellipsis{
  font-size: 20px;
  position: absolute;
  margin-left: 40%;
  background: none;
  border: none;
}
.deletepost{
  position: absolute;
  background-color: #1A1920;
  display: flex;
  width: 30%;
  height: 30px;
  margin-left: 90%;
  margin-top: 10%;
  border: none;
  color: red;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.2s ease;
}
/* .dropmenu{
  position: absolute;
  background-color: #1A1920;
  display: flex;
  width: 30%;
  margin-left: 90%;
  margin-top: 10%;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
} */
.welcomePage{
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.welheadercon{
position: absolute;
background-color: #7F00FF;
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
width: 50%;
height: 100%;
left: 0;
}
.weltxtcon{
  position: relative;
  margin-left: 50%;
}
.welcomelinks{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.formHeaderCon{
  position: absolute;
  display: flex;
  /* width: 100%; */
  /* margin-bottom: 50%; */
  text-align: center;
justify-content: center;
justify-items: center;
align-items: center;
top: 0;
}
#accountheader{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  /* top: 0; */
  /* right: 0; */
  /* left: 0; */
  text-align: center;
  font-size: 30px;
}
#tologin{
  color: white;
  border: none;
  border: 1px solid var(--lighter-bg-color);
  background-color: var(--main-bg-color);
  width: 150%;
  font-size: 40px;
  border-radius: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
  z-index: 1;
  
}
#toregister{
  color: white;
  border: none;
  border: 1px solid var(---button-color);
  width: 150%;
  font-size: 40px;
  border-radius: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
}
#reglink{
  color: #a54dff;
}
.linkSliderCon{
position: absolute;
 top: 6%;
 left: 57%;
 display: flex;
 width: 40%;
}
#loginSlider{
  font-size: 30px;
  /* border-bottom: 5px solid var(---button-color); */
}
#regSlider{
  font-size: 30px;
  margin-left: 5%;
  /* border-bottom: 5px solid var(---button-color); */
}
.slideBottom{
  border-bottom: 5px solid var(---button-color);
}


/* .arrow-down-login {
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin-right: 80%;
  margin-top: 50%;
  border-top: 20px solid var(---button-color);
  opacity: 0%;
  transition: 0.1s ease-in;
  transform: translateY(-20px);
} */

/* .arrow-down-register {
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin-left: 80%;
  margin-top: 50%;
  border-top: 20px solid red;
  opacity: 0%;
  transition: 0.1s ease-in;
  transform: translateY(-20px);
} */
#toregister:hover{

  background-color: var(---button-color);
  border-bottom-right-radius: 0%;
}
#tologin:hover{
  background-color: var(--lighter-bg-color);
  border-bottom-left-radius: 0%;

}
#tologin:hover .delivWelPageLogin{
  visibility: visible;
  opacity: 100%;
  transition: 300ms ease;
  transform: translateY(0px);
}
#toregister:hover .delivWelPageRegi{
  visibility: visible;
  opacity: 100%;
  transition: 300ms ease;
  transform: translateY(0px);
}

.delivWelPageLogin{
position: absolute;
color: grey;
right: 57%;
top: 34%;
font-size: 15px;
opacity: 0%;
}
.delivWelPageRegi{
position: absolute;
color: grey;
left: 109%;
top: 95%;
font-size: 15px;
opacity: 0%;
}
.deletepost:hover{
  background-color: #1A1920;
  background:rgba(255, 0, 0, 0.2);
}

.notfiHeader{
  text-align: center;
}
.searchBar{
  display: flex;
  width: 250px;
  height: 40px;
  border: none;
  background-color: #1F1C2C;
  border-radius: 20px;
  color: white;
}
.searchBar:focus{
  outline: none;
  }

.searchField{
  vertical-align: top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: #1F1C2C;
  text-align: center;
  margin: 0.5rem;
  border-radius: 20px;
  
}
.fa {
  color: var(--lighter-bg-color);
   margin: 0.5rem;
   
 }
/* .searchDropDown{
  position: absolute;
  display: inline-block;
  width: 10%;
  background-color: #e4e6eb;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  margin-top: 90px;
}
.searchDropDownUser{

} */
.createPost:focus{
  outline: none;
}
.createPost{
  color: white;
}
.postSubmit{
position: absolute;
border: none;
background-color: #7F00FF;
color: white;
height: 40px;
width: 100px;
border-radius: 20px;
margin-left: 80%;
}

input:focus{
  outline: none;
}
.postForm input[type="text"]{
  justify-self: start;
  width: 75%;
  padding-left: 1rem;
  background: transparent;
  border: none;
  height: 50%;
}
.postForm{
  width: 30%;

  background-color: var(--lighter-bg-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 60px;
  margin-bottom: 10px;
  border: none;
  border-radius: 30px;
  left: 35%;
  /* justify-content: space-between; */

}
.postFormCon{
  position: relative;
  display: flex;
  align-items: center;

}

.sidebar {
  position: relative;
  left: 16%;
  /* top: 15%; */
  display: flex;
  /* margin-right: 500px; */
  text-decoration: none;
  
}

.postside{
  position: relative;
  margin-right: 50%;
}
a{
  text-decoration: none; 
}
.home{
  margin-top: 4%;
  text-align: center;
  position: relative;
  /* background-color: #21253e; */


}
.repliesheader{
  text-align: center;
}
.followinglist{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  /* height: 400px; */
  border-radius: 20px;
  /* background-color: white; */
  background-color: #353241;
  margin-top: 5px;
}

.userProf{
  margin-top: 4%;
  text-align: center;
  position: relative;
  /* background-color: #e4e6eb; */
}
.replypostCon{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.postRoute{
  position: relative;
  margin-top: 4%;
}
.mainPost{
  background-color: var(--lighter-bg-color);
  color: white;
  width: 40%;
  height: 40%;
  margin: 3px;
  border-radius: 10px;
}
.sidebarbtns{
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  justify-items: center;
  
  /* width: 100%; */
  /* height: 400px; */
  border-radius: 20px;
  /* background-color: white; */
  top: 10%;
  margin-left: 5%;
  width: 15%;
  background-color: #353241;
}
.innersidebarbtns{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#home{
  color: white;
  font-size: 20px;
  width: 100%;
  border: none;
  margin: 0;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: 300ms ease;
 text-align: center;
}
#home:hover{
  background-color: rgba(53,50,65, 0.1  );
  filter: brightness(10);
}

#logout:hover{
  background-color: rgba(53,50,65, 0.1  );
  filter: brightness(10);
}
#notifications:hover{
  background-color: rgba(53,50,65, 0.1  );
  filter: brightness(10);
}
#profile:hover{
  background-color: rgba(53,50,65, 0.1  );
  filter: brightness(10);
}

#logout{
  position: relative;
  color: white;
  font-size: 20px;
  height: 40px;
  border: none;
  text-align: center; 
  margin: 0;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transition: 300ms ease;

}

#profile{
  position: relative;
  color: white;
  font-size: 20px;
  height: 40px;
  border: none;
  text-align: center;
  margin: 0;
  transition: 300ms ease;


}
#notifications{
  position: relative;
  color: white;
  font-size: 20px;
  height: 40px;
  border: none;
  text-align: center;
  text-decoration: inherit;
  margin: 0;
  transition: 300ms ease;

}
.formCon{ 
  background: var(--main-bg-color); 
  min-height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.formConCenter{
  border-radius: 20px;
  position: relative;
  background-color: var(--lighter-bg-color);
  bottom: 50;
  display: flex;
  border:  1px solid var(--main-bg-color);
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  justify-content: center;
  height: 500px;
}

#username{
  
  color: #dadce1;
  text-indent: 5px;
  margin: 5px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  font-size: 1rem;
  border: 2px solid var(--lighter-bg-color);
  background-color: transparent;

}
.linkotherpage{
  position: relative;
  display: flex;
  /* margin-left: 15%; */
  /* margin-top: 100%; */
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  text-align: center;
}
.linkPageFooter{
  position: absolute;
  text-align: center;
}
#userInput{
  position: absolute;
  color: #dadce1;
  text-indent: 5px;
  width: 350px;
  height: 30px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  background-color: var(--main-bg-color);
  /* margin-top: 150%; */
  top: 150px;
}
#password{
  color: #dadce1;
  text-indent: 5px;
  margin: 5px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  font-size: 1rem;
  border: 2px solid var(--lighter-bg-color);
  background-color: var(--main-bg-color);
}
#password:focus{

outline: none;
}
#username:focus{

outline: none;
}

.formSubmit{
  color: white;
  border: none;
  background: var(---button-color);
  height: 50px;
  width:  100%;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 5px;
}

.formAccInfo{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.searchPage{
  position: relative;
  text-align: center;
  margin-top: 4%;
  }
.formHeaderCon{
  position: absolute;
  display: flex;
  top: 0;
  border-bottom: 1px solid #1F1C2C;
  width: 100%;
}
.followbtn{
  border: none;
  border: 1px solid#7F00FF;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: transparent;
  transition: 0.3s ease;
}
.followbtn:hover{
  border: none;
  border: 1px solid#7F00FF;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: #7F00FF;
}
.searchpagecardcon{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.searchpagecard{
  position: relative;
  background-color: var(--lighter-bg-color);
  width: 15%;
 border-radius: 20px;
}
.unfollowbtn{
  border: none;
  background-color: #7F00FF;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.hidebtn{
  display: none;
}
.unfollowbtn:hover{
  border: none;
  background-color: red;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 20px;
}
h1{
  color: white;
}
#formHeader{
  position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

li{
  list-style: none;
}

.toProfile{
  background-color: #353241;
  width: 30%;
  border-radius: 20px;
  margin-bottom: 5;
}
#displayname{
  margin: 0;
}

#displayhandle{
  margin: 0%;
}
.navbar{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353241;
  height: 60px;
  width: 100%;
  top: 0;
}
.navbarcon{
  position: relative;
  z-index: 1;
}