*{
  text-align: center;
}

.post{
  background-color: white;
  border: 1px solid grey;
  width: 30%;
}
.postCon{
  display: flex;
  text-align: center;
  justify-content: center;
}

.searchBar{
 vertical-align: top;

  width: 250px;
  height: 40px;
  border: none;
  background-color: #e4e6eb;
  text-align: center;
  border-radius: 20px;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: 28%;
  top: 30%;
}

.home{
  position: relative;
}

.sidebarbtns{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
}

#home{
  margin-top: 5px;

  color: white;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  border: none;
  background-color: red;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
}
#logout{
  margin-top: 5px;

  color: white;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  border: none;
  background-color: red;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
}

#profile{
  margin-top: 5px;

  color: white;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  border: none;
  background-color: red;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
}