

.post{
  background-color: white;
  width: 30%;
  margin: 3px;
  border-radius: 5px;
}
.postCon{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}


.searchBar{
  display: flex;
 vertical-align: top;
  width: 250px;
  height: 40px;
  border: none;
  background-color: #e4e6eb;
  border-radius: 20px;
}
.searchBar:focus{
  outline: none;
  }

.searchField{
  vertical-align: top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border: none;
  background-color: #e4e6eb;
  text-align: center;
  margin: 0.5rem;
  border-radius: 20px;
}
/* .searchDropDown{
  position: absolute;
  display: inline-block;
  width: 10%;
  background-color: #e4e6eb;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  margin-top: 90px;
}
.searchDropDownUser{

} */
.fa {
  color: grey;
   margin: 0.5rem;
 }
.createPost:focus{
  outline: none;
}
.postSubmit{
position: absolute;
border: none;
background-color: #7F00FF;
color: white;
height: 40px;
width: 100px;
border-radius: 20px;
margin-left: 80%;
}
.postForm input[type="text"]{
  justify-self: start;
  width: 75%;
  padding-left: 1rem;
  background: transparent;
  border: none;
  height: 50%;
}
.postForm{
  width: 30%;
  
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 60px;
  margin-bottom: 10px;
  border: none;
  border-radius: 30px;
  left: 35%;
  /* justify-content: space-between; */

}
.postFormCon{
  position: relative;
  display: flex;
  align-items: center;

}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: 16%;
  top: 15%;
  margin-right: 500px;
flex-direction: column;
}

.home{
  text-align: center;

  position: relative;
  background-color: #e4e6eb;
}
.userProf{
  text-align: center;
  position: relative;
  background-color: #e4e6eb;
}

.sidebarbtns{
  position: relative;
  width: 300px;
  /* height: 400px; */
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

#home{
  align-items: center;
  color: black;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  border: none;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
}
#logout{
  color: black;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  border: none;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  align-items: center;
}

#profile{
  align-items: center;
  color: black;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  border: none;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
}

.formCon{ 
  background: linear-gradient(to right, #ff9966, #ff5e62); 
  min-height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.formConCenter{
  border-radius: 20px;
  position: relative;
  background-color: white;
  bottom: 50;
  display: flex;
  border:  1px solid #dadce1;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  justify-content: center;
  height: 500px;
}

#username{
  text-indent: 5px;
  margin: 5px;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  background-color: #dadce1;
}

#password{
  text-indent: 5px;
  margin: 5px;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  background-color: #dadce1;
}

.formSubmit{
  color: white;
  border: none;
  background: linear-gradient(to right, #ff9966, #ff5e62); 
  height: 50px;
  width:  100%;
  font-size: 20px;
  border-radius: 30px;
}

.formAccInfo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.searchPage{
  text-align: center;
  background-color: #dadce1;
}
.formHeaderCon{
  position: absolute;
  display: flex;
  top: 0;
  border-bottom: 1px solid #dadce1;
  width: 100%;
}

#formHeader{
  position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

li{
  list-style: none;
}

.toProfile{
  position: relative;
  background-color: white;
  width: 300px;
  height: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 5px;
}
#displayname{
  margin: 0;
}

#displayhandle{
  margin: 0%;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 60px;
}